.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    margin: 0 -10px;

    &__page {
        padding: 10px;
        color: #fff;
        font-weight: 700;
        font-size: 1em;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}