@import './styles/reset';

//main setting
html {
    font-size: 14px;
}

:root {
    --person-bg-color: #FAFD7CFF;
    --person-text-color: #24325FFF;
}

@mixin absoluteCenter() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    min-height: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    
    font-family: sans-serif;

    background: url('../src/assets/background/main-bg.webp') center center no-repeat;
    background-size: cover;

    position: relative;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.body-overflow-hidden {
    overflow-y: hidden;
}
// ---------

//person
@import './scripts/components/Characters/Characters';

//modal
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);

    &__content,
    &__closed {
        position: absolute;
    }

    &__closed {
        top: 20px;
        right: 20px;

        width: 35px;
        height: 35px;

        transition: .3s;

        &:hover {
            transform: rotate(180deg);
        }

        svg {
            fill: #f8f6f3;
        }
    }

    &__content {
        @include absoluteCenter();
        width: 80%;
        height: 60%;
        background-color: #f8f6f3;
        overflow-y: auto;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, .5);
    }
}

//content
.content {
    display: flex;
    font-size: 2em;

    @media (max-width: 770px) {
        display: block;
    }

    &__person-avatar {
        padding: 20px;
        height: 40%;
        flex: 0 0 40%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__main-info {
        margin: 20px;
    }

    &__info-item {

        span {
            font-weight: 700;
            color: var(--person-text-color);
        }
    }

    &__info-item + &__info-item {
        margin: 10px 0 0 0;
    }

}

.modal--disabled {
    display: none;
}

//footer
.footer {
    margin: auto 0 0 0;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .4);
}

@import './scripts/components/Pagination/Pagination'