@import './styles/reset';

//main setting
html {
    font-size: 14px;
}

:root {
    --person-bg-color: #FAFD7CFF;
    --person-text-color: #24325FFF;
}

@mixin absoluteCenter() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    min-height: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    
    font-family: sans-serif;

    background: url('../src/assets/background/main-bg.webp') center center no-repeat;
    background-size: cover;

    position: relative;

    .main {
        flex: 1;
    }
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.body-overflow-hidden {
    overflow-y: hidden;
}
// ---------

//person
@import './app/components/Characters/Characters.scss';

//modal
@import './app/components/Modal/Modal';

//notification
@import './app/components/PageNotification/PageNotification';

//page-error
@import './app/components/PageError/PageError';

//footer
.footer {
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .4);
}

@import './app/components/Pagination/Pagination'